.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  width: 172%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  transition: transform 0.5s ease;
}

.revealed {
  transform: translateX(-50%);
}

/* Estilos para os botões redondos e de cor escura */
.reveal-button {
  border-radius: 50%;
  width: 50px; /* Tamanho diferente para o botão principal */
  height: 50px; /* Tamanho diferente para o botão principal */
  padding: 8px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.additional-button {
  border-radius: 50%;
  transition: opacity 0.5s ease; /* Adiciona uma transição suave para a opacidade */
  opacity: 1; /* Define a opacidade inicial para os botões */
  width: 90px; /* Tamanho para os botões adicionais */
  height: 70px; /* Tamanho para os botões adicionais */
  padding: 8px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  z-index: 1;
}


.additional-buttons.hidden .additional-button {
  opacity: 0; /* Define a opacidade para 0 ao esconder os botões */
  pointer-events: none; /* Desabilita eventos do mouse quando os botões estão ocultos */
  visibility: hidden; /* Esconde os botões */
}


.additional-button:nth-of-type(2) {
  top: 76%;
  left: 9%;
}

.additional-button:nth-of-type(3) {
  top: 10%;
  left: 6%;
}

.reveal-button:hover,
.additional-button:hover {
  background-color: #555;
}

/* Estilos do modal */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease; /* Transição suave ao abrir e fechar o modal */
}

.modal.show {
  opacity: 1;
  visibility: visible;
  display: block;
}

.modal-content {
  width: 300px;
  height: 300px;
  background-color: #fefefe;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  transition: transform 0.3s ease; /* Adiciona transição para o conteúdo do modal */
}

/* Estilo para o botão de fechar */
.close {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 28px;
  color: #aaa;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background-color: #f1f1f1;
  transition: transform 0.3s ease; /* Adiciona transição ao botão de fechar */
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  transform: scale(1.1); /* Efeito de aumento ao passar o mouse */
}
